@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Averia+Serif+Libre:wght@400;700&display=swap');

/*   ----- Variables  -----  */
:root {
    --veryDarkBlue: #152B38;
    --mediumBlue: #4B89BFEF;
    --veryLightBlue: #B8CAD9;
    --darkTurquoise: #426664;
    --darkSand: #DFCEB9;
}

/*  ----- Page layout blocks -----  */
header {
    background-color: var( --darkTurquoise);
    border-radius: 25px;
    margin-bottom: 25px;
    color: var(--darkSand);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    font-size: 18px;



}

label{
    font-size: 18px;
    padding-top: 50px;
}
nav {
    font-family: 'Averia Serif Libre', serif;
}

legend{

    font-size: 24px;
}

fieldset{
    border-width: 4px;
    border-radius: 8px;
}


h1{
    padding-bottom: 20px;
    font-family: 'Amarante', serif;
}

body {
    font-family: 'Averia Serif Libre', serif;
    margin: 20px;
    background-color: var( --darkTurquoise);
    color: #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
    background-color: #1e1e1e;

}

th {
    background-color: #333;
    color: #fff;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #424242;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #535353;
}

nav {
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction:row;
    max-width: 100px;
    display:table-row;

}

    nav a {
        background-color: var(--veryLightBlue);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-left: 20px;
        margin-inline: 2px;
        color: var(--veryDarkBlue);
        padding: 15px;
        padding-bottom: 5px;
        text-decoration: none;
        border: 3px solid var(--darkTurquoise);
        display: inline;
        flex-flow: row wrap;


    }

        nav a:hover {
            background-color: var(--veryDarkBlue);
            color: var(--veryLightBlue);
            border: 3px solid var(--veryLightBlue);
        }


form {
        margin-top: 30px

}

input
{
   font-size: 20px
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  select{
    font-size: 20px;
  }

  #addtrans, #add_to_cart{
    text-align: right;
   
  }

  #addtocart{
    text-align: right;
   
  }